@import "styles.css";

#root {height: 90vh}

.aside-panel {width: 30%; background: #FBFBFB; box-sizing: border-box}
.message-field {width: 70%}

input {
    font-size: 16px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background-color: #EFEFEF;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#input-wrapper {
    position:relative;
}
#search-icon {
    position: absolute;
    bottom: 22px;
    left: 5px;
    width: 12px;
    height: 12px;
    opacity: 0.6;
}

.user-info {position: relative}
.avatar {
    border-radius: 100%;
    background-color: #efefef;
    width: 48px;
    height: 48px;
}

.chat-info {
    font-size: 14px;
}
.user-info {cursor: pointer}
.user-info:hover {background-color: #E4EDFD}
.message-preview {font-size: 12px}
.badge-accent {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.time {
    position: absolute;
    right: 12px;
    font-size: 12px;
}